<h1 class = "head_color font_size "> What is your name?</h1>
<p class = "back_gr"> </p>


<form method = "post" action = "/login">
<p class = "head_color font"> Name <input type = "text" name = "user_name"> </p> 
	<input type = "submit">
</form>


