.head_color{
color:black
}
.font_size{
    font-size: 400%
}
.font{
    font-size: 300%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:  16rex;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}
body{
        background-image: url("https://media.giphy.com/media/dD5ARBMyZXPB6/source.gif")
        ;background-repeat: no-repeat
        ;background-size: cover
        
}